apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-world
        # Make sure this image tag is updated if you've pushed a newer version
        image: gcr.io/dockerhelloworld-485819/hello-world-app:v9
        ports:
        - containerPort: 8080
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/var/secrets/google/key.json"
        - name: GCP_BUCKET_NAME
          value: "housing-data-for-testing"
        volumeMounts:
        - name: gcs-key-volume
          mountPath: /var/secrets/google
          readOnly: true
      volumes:
      - name: gcs-key-volume
        secret:
          secretName: gcs-key
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-service
spec:
  type: LoadBalancer
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080